.form-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75rem;
  height: 13rem;
  margin: 1rem 6rem;
  padding: 2rem 9rem 1.625rem 1.7rem;
}

.form-main h1 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.18px;
  color: #888;
}

.form-input {
  margin-top: 20px;
  display: flex;
  grid-gap: 32px;
  gap: 32px;
}

input {
  width: 60%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #121212;
}

#categories {
  width: 30%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #121212;
}

.add-bk-btn {
  cursor: pointer;
  width: 20%;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}
