* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bookApp {
  width: 100%;
  height: 80vh;
  font-family: "Montserrat", sans-serif;
  background-color: #f5f6fa;
  padding: 4%;
}

.nav {
  margin: 2rem auto;
}

.container {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
